@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';


.misc-drawer-container {
	width: 100%;

	.list-item {
		justify-content: center;

		.material-icons {
			font-size: 25px;
			color: #018786;
		}
	}
}