@import '@material/react-layout-grid/index.scss';
@import "@material/layout-grid/mixins";

.gridContainer {
  height: 100%;
  padding: 0;
}

.rowContainer {
  height: 100%;
}

.friendListContainer {
  height: 100%;
  margin: 0;
  border-right: 1px solid #ddebe0;
}

.chatContainer {
  height: 100%;
  margin: 0;
  border-left: 1px solid #ddebe0;
  border-right: 1px solid #ddebe0;
}

.settingsContainer {
  height: 100%;
  margin: 0;
  border-left: 1px solid #ddebe0;
}