@import '@material/react-layout-grid/index.scss';
@import "@material/react-button/index.scss";
@import '@material/react-card/index.scss';
@import '@material/react-typography/index.scss';
@import "@material/typography/mixins";
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-button/index.scss';

.loginContainer {
	text-align: center;
	padding: 20px;
	padding-bottom: 40px;

	.logoContainer {
		@include mdc-typography-base;
		font-size: 50px;
	}

	.tabBar {
		margin-top: 20px;
		width: 300px;
		align-self: center;

		.tab {
			margin: 10px;

			.tabText {
				font-size: 12px;
			}
		}
	}

	.inputForm {
		margin-top: 10px;

		.textField {
			margin-top: 20px;
			width: 200px;
			height: 50px;
			border-radius: 0;

			.input {
				font-size: 15px;
			}
		}
	}

	.button {
		align-self: center;
		width: 100px;
		margin-top: 20px;
		font-size: 15px;
	}
}